<div class="descripcion">
    <div class="contenedor">
        <h1 style="text-align: center;">Ivoting</h1>
        <p>
            Es un sitio web en donde un ciudadano puede registrarse con su codigo único de identificación (CUI) y crear un nuevo usuario, puede ver la información de cada elección y la información de cada candidato y realizar su voto garantizándole la privacidad
            del mismo.
        </p>
    </div>
</div>
<br>
<div style="text-align: center;">
    <iframe src="https://www.youtube.com/embed/MeAwpAtqQ2Y " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen>
    </iframe>
</div>

<section class="contenedor" style="text-align: justify;">
    <br>
    <h3>Pagina de inicio</h3>
    <p>
        En la página de inicio, el ciudadano podrá iniciar sesión o registrar su usuario. El sistema buscará la información del ciudadano en la base de datos del RENAP y la comparará la fotografía que se acaba de tomar con la fotografía almacenada en la base
        de datos.
    </p>
    <img src="assets/ivoting_inicio.png" width="100%" height="100%" alt="Pagina de inicio">

    <br><br>
    <h3>Vista de elecciones</h3>
    <p>
        El usuario ciudadano podrá ver todas las elecciones que estén habilitadas o deshabilitadas y toda la información de cada elección.
    </p>
    <img src="assets/ivoting_elecciones.png" width="100%" height="100%" alt="Vista de elecciones">

    <br><br>
    <h3>Resultado de elecciones</h3>
    <p>
        El usuario podrá ver el resultado de cada elección por medio de 2 tipos de graficas (grafica de barras y grafica de sectores).
    </p>
    <img src="assets/ivoting_grafica.png" width="100%" height="100%" alt="Resultado de elecciones en grafica de sectores.">

    <br><br>
    <h3>Realizar voto</h3>
    <p>
        El usuario podrá realizar un único voto por elección, y por motivos de seguridad debe de brindar nuevamente su correo y contraseña para confirmar su voto.
    </p>
    <img src="assets/ivoting_voto.png" width="100%" height="100%" alt="Realizando votación.">


    <br><br>
    <h3>Ciclo DevOps</h3>
    <p>
        Para el proyecto se ejecutó el ciclo DevOps con el fin de monitorear cada parte del proyecto, ejecutando las pruebas unitarias de cada micro-servicio, luego se realizó un análisis del código, utilizando Sonarqube y se construyeron los artefactos de cada
        micro-servicio.
    </p>
    <br>
    <p>
        Se utilizó un clúster de kubernetes para publicar la página web, y un balanceador de carga para cada servicio, y la estrategia de Rolling update.
    </p>
    <img src="assets/devOps.png" width="100%" height="100%" alt="Ciclo devOps del proyecto">

    <br><br>
    <h3>Prometheus y Grafana</h3>
    <p>
        Para monitorear el tráfico y la cantidad de peticiones a la base de datos se utilizó Prometheus y grafana, ya que estas herramientas brindan un entorno grafico fácil de entender.
    </p>
    <img src="assets/promgraf.png" width="100%" height="100%" alt="Graficas en grafana">
    <br><br>
</section>