<div class="toolbar">
    <ul>
        <li>
            <a href="#blog">Sobre Mí</a>
        </li>
        <li>
            <a href="#info">Proyectos</a>
        </li>
    </ul>
</div>
<br><br><br>
<section id="blog" class="contenedor">
    <h1>Fernando Vidal Ruiz Piox</h1>
    <h2>Ciudad de Guatemala, Guatemala</h2>
    <br>
    <ul>
        <li>
            Estudiante con cierre de pensum de Ingenieria en Ciencias y Sistemas en la Universidad de San Carlos de Guatemala.
        </li>
        <li>
            Apasionado de la tecnología y fiel creyente en la convivencia entre el desarrollo de software y la creatividad.
        </li>
    </ul>
    <div class="contenedor">
        <img src="assets/perfil.jpg" alt="Fotografia de Fernando Ruiz.">
    </div>
    <ul>
        <li>
            Conocimientos sólidos en Java, C#, Typescript y Javascript entre otros, para el desarrollo de software.
        </li>
        <li>
            Habilidades y experiencia en frameworks de desarrollo web como Nodejs, Angular y React JS.
        </li>
    </ul>
</section>
<br><br><br>
<section id="info">
    <h2>Proyectos</h2>
    <div class="contenedor">
        <div class="info-pet">
            <a id="pro1" href="welcome/iVoting">
                <img for="pro1" src="assets/ivoting_logo.jpg" alt="">
            </a>
            <h4>Ivoting</h4>
        </div>
        <div class="info-pet">
            <a id="pro1" href="welcome/Arit">
                <img for="pro1" src="assets/arit_logo.jpg" alt="">
            </a>
            <h4>Arit Software</h4>
        </div>
    </div>
</section>