<div class="descripcion">
    <div class="contenedor">
        <h1 style="text-align: center;">Arit Software</h1>
        <p>
            Es un entorno y lenguaje de programación con un enfoque en el análisis estadístico, el cual está formado por un conjunto de herramientas muy flexibles que pueden ampliarse fácilmente mediante paquetes, librerías o definiendo nuestras propias funciones.
            Este software también cuenta con un entorno de desarrollo integrado (IDE) que proporciona servicios integrales para facilitarle al programador el desarrollo de aplicaciones.
        </p>
    </div>
</div>
<br>

<section class="contenedor" style="text-align: justify;">
    <br>
    <h3>Funciones de Arit</h3>
    <p>
        AritIDE es un entorno de desarrollo que provee las herramientas para la escritura de programas en lenguaje ARIT. Este IDE nos da la posibilidad de visualizar tanto la salida en consola de la ejecución del archivo fuente como los diversos reportes de la
        aplicación que se explican a más adelante.
    </p>
    <img src="../../../assets/arit-etq.png" width="100%" height="100%" alt="Funciones de Arit">

    <br><br>
    <h3>Barra de Herramientas</h3>
    <h4>Archivo</h4>
    <p>
        En este menú podremos encontrar los submenús correspondientes para los archivos generados con el código Arit. A continuación daremos una breve descripción de cada uno de los submenús.
    </p><br>
    <h4>Nuevo</h4>
    <p>
        Creará un archivo nuevo para poder editarlo y ejecutarlo.
    </p>
    <img src="../../../assets/arit-nuevo.png" width="100%" height="100%" alt="Nuevo archivo">

    <br><br>
    <p>
        Se debe de ingresar un nombre provisional para el nuevo archivo, se debe de tomar en cuenta que el archivo no ha sido guardado, solo se está guardando en la memoria volátil para posteriormente guardarlo en el disco duro de la pc.
    </p>
    <img src="../../../assets/arit-ventana.png" width="100%" height="100%" alt="Ventana nueva">

    <br><br>
    <p>
        Se mostrará un cuadro de texto en el cual el usuario final puede escribir código Arit, y ejecutarlo en cualquier momento.
    </p>
    <img src="../../../assets/arit-new.png" width="100%" height="100%" alt="Ventana nueva">

    <br><br>
    <h3>Reportes</h3>
    <p>
        Este Menú desplegará los submenús para mostrar reportes de errore, tabla de símbolos, y grafica de los árboles de cada analizador.
    </p>
    <br>
    <h4>Ver Reportes</h4>
    <p>
        Esta opción le dará la oportunidad al usuario de visualizar en un nuevo JFrame en donde podrá encontrar dos pestañas en donde si visualizarán el reporte de errores y el reporte de tabla de símbolos.
    </p>
    <img src="../../../assets/arit-report.png" width="100%" height="100%" alt="Opcion Reporte">

    <br><br>
    <h4>Reporte de Errores</h4>
    <p>
        El usuario podrá visualizar los errores que se originaron al momento de la ejecución. Por cada error podrá visualizar el Tipo, la fila y columna y una breve descripción acerca del error que se capturo.
    </p>
    <img src="../../../assets/arit-errores.png" width="100%" height="100%" alt="Opcion Reporte">

    <br><br>
    <h4>Reporte de Tabla de Simbolos</h4>
    <p>
        En este reporte se visualizarán todos los símbolos que se declararon durante la ejecución del programa. Por cada símbolo se visualizará el identificador, el tipo, el ámbito, tamaño o dimensión o parámetros, declarada en y Referencias (En donde fueron
        utilizadas las variables.).
    </p>
    <img src="../../../assets/arit-tab.png" width="100%" height="100%" alt="Opcion Reporte">

    <br><br>
    <h4>Ver AST</h4>
    <p>
        En este reporte si visualizará una imagen del arbol AST, generado por la herramienta Graphviz. Este arbol se formará de acuerdo al tipo de gramática que fue utilizada.
    </p>
    <img src="../../../assets/arit-verAST.png" width="100%" height="100%" alt="Opcion Reporte">

    <br><br>
    <h4>Ver AST ASC</h4>
    <p>
        El reporte del grafo se mostrará en un navegador, ya que el archivo es grafoAST.svg. AST generado con la gramática Ascendente.
    </p>
    <img src="../../../assets/arit-asc.png" width="100%" height="100%" alt="Opcion Reporte">

    <br><br>
    <h4>Ver AST DESC</h4>
    <p>
        AST generado con la gramática Descendente.
    </p>
    <img src="../../../assets/arit-desc.png" width="100%" height="100%" alt="Opcion Reporte">

    <br><br>
    <h3>Consola</h3>
    <p>
        En este campo se mostrarán todas las impresiones que se escribieron en el código. También se mostrarán los errores que se encontraron en el código. Estos resultados se mostrarán después de darle clic al botón Ejecutar ASC, o darle clic al botón Ejecutar
        DESC.
    </p>
    <br>
    <p>
        Se utilizó un clúster de kubernetes para publicar la página web, y un balanceador de carga para cada servicio, y la estrategia de Rolling update.
    </p>
    <img src="../../../assets/arit-consola.png" width="100%" height="100%" alt="Ciclo devOps del proyecto">

    <br><br>
    <h3>Graficas</h3>
    <p>
        Se mostrara en un JFrame las gráficas que se mandaron a crear desde el código Arit. Se selecciona la gráfica desde el Listado de Graficas Generadas.
    </p>
    <img src="../../../assets/arit-grafica.png" width="100%" height="100%" alt="Graficas en grafana">
    <br><br>
</section>